@media screen and (min-width: 992px) {
  .container-nav {
    margin: 0;
    display: flex;
    align-items: center;
  }
  #resnavig {
    display: none;
  }
  #hamburger {
    display: none;
  }
  img {
    border-radius: 10px;
  }
  .banner img {
    border-radius: 0;
  }
  h2 {
    margin-left: 40px;
  }

  .on-banner {
    color: ivory;
    position: absolute;
    top: 10%;
    left: 60%;
  }
  .on-banner-2 {
    display: flex;
    justify-content: space-evenly;
  }
  .on-banner-2section {
    background-color: rgba(31, 31, 31, 0.5);
    position: absolute;
    top: 52%;
    left: 20%;
    border-radius: 10px;
    width: 80%;
    color: ivory;
  }
  .on-banner-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .on-banner h1 {
    font-size: 56px;
    font-family: "DM Sans", sans-serif;
  }
  .on-banner p,
  button {
    font-family: "Quicksand", sans-serif;
  }

  .section-1 {
    margin: 0;
    padding: 0;
    background-color: rgb(158, 158, 158);
  }
  .section-image-1 {
    margin: 0;
    padding: 0;
  }
  .section-image-1 img {
    margin: 30px;
    padding: 0;
    border-radius: 3%;
  }
  .section-imagetext {
    color: rgb(240, 236, 231);
    top: 70%;
  }

  .section-latest {
    width: 100%;
  }
  .insta-title {
    margin-left: 30px;
    width: 35%;
    display: flex;
    align-items: baseline;
  }

  .insta-posts {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
  }
  .insta-posts img {
    display: flex;
    width: 18%;
    height: auto;
    justify-content: space-between;
    margin: 0;
  }
  .signup {
    display: flex;
    width: 90%;
    /* height: 100px; */
    margin: 40px;
    justify-content: space-between;
  }
  .datasignup {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  input[type="text"]:focus {
    border: 0;

    outline: none;
  }
  .latestimg {
    display: grid;
    height: 400px;
  }
  .images {
    margin: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 5vw); */
    grid-gap: 10px;
  }
  .imagemiddles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .middleimage {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    height: fit-content;
  }
  .images img {
    border-radius: 15px;
  }

  .imgtext3 {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: ivory;
    text-align: center;
    border-radius: 0 0 10px 10px;
    width: -webkit-fill-available;
  }
  .imgtext4 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 84%;
    background: rgba(0, 0, 0, 0.7);
    color: ivory;
    text-align: center;
    width: -webkit-fill-available;
    border-radius: 10px;
  }
  .imgtext1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70%;
    background: rgba(0, 0, 0, 0.7);
    color: ivory;
    text-align: center;
    width: 450px;
    border-radius: 0 0 10px 10px;
  }
  .middleimage img {
    width: inherit;
  }
  .bestsellers {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }
  .bestsellers-container {
    background-color: #f7f7f7;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .bestsellers-images {
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .bestsellers-text {
    width: 30%;
    margin-top: 5%;
  }
  .bestsellers-images img {
    border-radius: 10px;
  }
  .mountainbike {
    display: flex;
    align-items: center;
  }

  .bestsellers-images h4 {
    text-align: center;
  }

  address {
    flex-basis: 100%;
    font-style: normal;
  }
  .on-banner-right {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 10px;
    padding: 10px;
    margin-top: 0;
  }
  .details-btn {
    background-color: rgb(197, 46, 104);
    color: #f7f7f7;
    border: none;
    height: 40%;
    border-radius: 10px;
    margin-top: 100px;
  }
  .titlebaik {
    width: 30%;
    margin: 0;
    padding: 0;
  }
  .bestsellers-container h1 {
    margin: 30px;
  }
  .overlapimg {
    position: absolute;
    left: 60%;
    bottom: 40%;
  }

  .mountainbikediv {
    position: relative;
    width: 65%;
  }
  .mountainbikediv > img {
    border-radius: 10px;
    margin: 30px;
  }
  .imagesdate {
    margin: 0;
    display: inline;
    padding: 20px;
  }
  .latestnews {
    position: relative;
    height: fit-content;
    width: fit-content;
  }

  .right-iconscontainer {
    float: right;
    height: 60px;
    width: 10%;
  }
  body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
  }
}

/*


*/
.inputtext {
  border: rgb(199, 202, 204) 1px solid;
  text-align: center;
  display: flex;
  width: 35%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: aliceblue;
}
input[type="text"] {
  width: 70%;
  height: 30spx;
  margin: 10px;
  border: 0;
  border-right: 1px rgb(214, 216, 219) solid;
  font-size: 18px;
}
.section-button {
  background-color: rgb(197, 46, 104);
  color: #f7f7f7;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
hr {
  border-top: rgb(135, 136, 138);
}
.mountainbike {
  background-color: #f7f7f7;
}
.section-insta {
  width: 100%;
  background-color: #f7f7f7;
  /* height: 500px; */
}

.banner-button {
  width: 20%;
  height: auto;
  color: rgb(231, 87, 87);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  padding-right: 50px;
}
li {
  list-style-type: none;
}
li {
  float: left;
  margin: 0;
}
li a {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}
li a:hover {
  color: lightcoral;
}

.footer-1-icons {
  padding: 30px;
}
.footer-1-icons i {
  padding-left: 20px;
}

.footer-1-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-1 {
  width: 100%;
  display: flex;
  margin: 30px;
  justify-content: space-between;
}
.footer-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(77, 77, 77);
  width: 100%;
  height: 50px;
  color: white;
}
.footer-2-list {
  width: inherit;
  display: flex;
  justify-content: space-between;
}
.footer-2-left {
  width: 60%;
}
.footer-2-right {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-1-left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
}
.links {
  padding: 30px;
  border-left: rgb(201, 204, 207) 1px solid;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.container-header {
  display: inline-flex;
  justify-content: flex-start;
  width: 90%;
}

.right-icons {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header {
  background-color: #1b1b1b;
  color: aliceblue;
}
.container-icons {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}
.banner {
  margin: 0;
  padding: 0;
  height: fit-content;
  position: relative;
}
.banner > img {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
}

/*

*/
@media screen and (max-width: 568px) {
  img {
    width: 100%;
  }
  .on-banner-2section {
    display: none;
  }
  .on-banner {
    display: none;
  }
  .mountainbikediv,
  img {
    width: 100%;
  }

  .right-iconscontainer {
    float: none;
    width: 40%;
  }
  header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .container-header {
    width: 60%;
    font-size: 10px;
  }
  h2 {
    margin-left: 20px;
  }
  .right-icons {
    justify-content: space-evenly;
    font-size: 10px;
  }
  .overlapimg {
    width: fit-content;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
  .overlapimg img {
    height: 150px;
    /* object-fit: cover; */
  }
  .bestsellers h4 {
    text-align: center;
    font-size: 20px;
  }
  .footer-2-right {
    width: 40%;
  }
  .footer-1 {
    margin: 0;
    flex-direction: column;
  }
  .footer-1-left {
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .footer-1-icons {
    padding: 0;
  }
  .footer-1-icons i {
    padding: 5px;
  }
  address {
    margin-top: 10px;
  }
  .footer-1-right {
    width: 100%;
    justify-content: flex-start;
  }
  .footer-2-list {
    justify-content: center;
    font-size: 5px;
    padding: 0;
  }
  .footer-2-list li a {
    font-size: 12px;
  }
  .datasignup {
    text-align: center;
  }
  .signup {
    text-align: center;
  }
  .insta-title {
    text-align: center;
    display: flex;
    font-size: 12px;
    padding: 10px;
  }
  .mountainbike > div {
    width: 100%;
  }
  .bestsellers-images img {
    height: 200px;
    object-fit: cover;
  }
  .inputtext {
    width: 100%;
  }
  .insta-posts img {
    height: 100px;
    object-fit: cover;
  }
  .imgtext4 {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: ivory;
    width: -webkit-fill-available;
    border-radius: 0 0 10px 10px;
    padding: 10px;
  }
  .imgtext1 {
    position: absolute;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.7);
    color: ivory;
    border-radius: 0 0 10px 10px;
    padding: 10px;
  }
  .latestnews {
    position: relative;
    padding-top: 20px;
  }
  .imgtext3 {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: ivory;

    border-radius: 0 0 10px 10px;
    width: -webkit-fill-available;
    padding: 10px;
  }
  .middleimage {
    width: 100%;
    position: relative;
    height: fit-content;
  }
  .imagesdate {
    display: inline;
  }
  input[type="text"] {
    width: 55%;
  }
  address {
    font-size: 12px;
  }
  .noLi {
    display: none;
  }
  .container-nav {
    display: none;
  }
  #resnavig {
    display: none;
    background-color: #1b1b1b;
    color: white;
    font-size: 12px;
    font-family: inherit;
  }
  #navlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
